<footer>
    <div class="container">
        <div class="flex-lc">
            <a href="" class="logo"><img src="./assets/img/logo-1.svg" alt=""></a>
            <div class="social flex-lc">
                <a href="" title="" class="twitter">twitter</a>
                <a href="" title="" class="telegram">telegram</a>
            </div>
            <a href="" title="" class="btn-sub">Whitepaper</a>
        </div>
    </div>
</footer>