<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <div class="social flex-lc">
                    <a href="" title="" class="twitter">twitter</a>
                    <a href="" title="" class="telegram">telegram</a>
                </div>
                <div class="box-btn flex-lc">
                    <a href="" title="Whitepaper" class="btn-sub">Whitepaper</a>
                    <a href="" title="" class="btn-pr">Install farmShares</a>
                </div>
            </div>
        </nav>
    </div>
</header>