<main>
    <div class="famshare-intro pr">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h1 data-aos="fade-up" data-aos-delay="200">
                            <span>Your Gateway To The</span>
                            <span>New SocialFi World.</span>
                            <span>Raising, Engaging & Sharing</span>
                            <span>Revenue With Your Fam</span>
                        </h1>
                        <a href="" title="" class="btn-pr" data-aos="fade-up" data-aos-delay="400">Buy $FAM  here</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper pr">
                        <img src="./assets/img/hero.svg" alt=""  data-aos="fade-in" data-aos-delay="600">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-note pr">
        <div class="container">
            <div class="grid">
                <div class="item txt-sm" data-aos="fade-right">
                    <h4>For Users:</h4>
                    <p>Explore your favorite influencers from TikTok, Twitter, OnlyFans and Instagram. Purchase their shares to become part of their community and engage with them directly. The more people join the community, the higher the value of the shares will increase.</p>
                </div>
                <div class="item txt-sm" data-aos="fade-left">
                    <h4>For Influencers</h4>
                    <p>By connecting your social accounts to our platform, you can begin building your own Fam. Additionally, you will be provided with a private chat room to interact with users who hold your shares. This is also the space where you can offer exclusive privileges to members of the Fam</p>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-about pr">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up">
                        <h2 class="title mb-md">About FamShares</h2>
                        <div class="txt-sm">
                            <p>We are focusing on developing a novel concept within the crypto space that merges the familiar aspects of tokens and NFTs. Rather than just having tokens or NFTs, we are expanding the notion of ownership through shares in the crypto realm.</p>
                            <p>The idea is straightforward: Influencers launch their shares for their introduction and then the shares become active, opening up new opportunities for the participating community.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper pr">
                        <img src="./assets/img/about-illustration.svg" class="img img--1" alt="">
                        <img src="./assets/img/chart-1.svg" class="img img--2" data-aos="zoom-in" data-aos-delay="500" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="txt-link grid txt-sm">
                        <a href="" title="Add FamShares App" data-aos="fade-up">Add FamShares <br> App</a>
                        <a href="" title="Discover Your Favorite Influencers" data-aos="fade-up" data-aos-delay="200">Discover Your Favorite Influencers</a>
                        <a href="" title="Buy Their Share & Join The Fam" data-aos="fade-up" data-aos-delay="400">Buy Their Share <br> & Join The Fam</a>
                        <a href="" title="Receive exclusive offers From The Fam" data-aos="fade-up" data-aos-delay="600">Receive exclusive offers From The Fam</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-mechanism pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="chart pr">
                        <div class="chart__img"><img src="./assets/img/chart-2.svg" alt=""></div>
                        <div class="chart__content">
                            <div class="col col--1"></div>
                            <div class="col col--2"></div>
                            <div class="col col--3"></div>
                            <div class="col col--4"></div>
                            <div class="col col--5"></div>
                            <div class="col col--6"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up">
                        <h2 class="title">Shares Price <br> & Fragment Mechanism</h2>
                        <div class="price txt-sm">
                            <span>The share price formula is:</span>
                            <span>Price = Total Share Supply ^ 2 / 16000</span>
                        </div>
                        <div class="txt-sm">
                            In many cases, the price to own a single share of an extremely famous Influencer can be very high, creating a barrier for new users to access. Therefore, those shares will be divided into smaller fractions to be distributed among a larger number of users. Users can purchase 1/10 or 1/2 of that share, as well as multiple fractions. Ownership rights of shares are distributed proportionally to the held fractions. Voting rights for buying/selling shares are determined by a majority vote.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-trade pr">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content" data-aos="fade-right">
                        <h2 class="title mb-md">Trade Your Shares</h2>
                        <div class="txt-sm">
                            FamShares serves as a dynamic marketplace platform, facilitating users in effectively trading their shares. Within this ecosystem, each successful transaction incurs a 5% transaction fee, intelligently distributed: 1.5% returns to the Fam Owner, another 1.5% contributes to the project, while the remaining 2% replenishes the Treasury. This innovative model not only promotes seamless sharing but also fosters sustained growth and development, ensuring a well-balanced allocation of resources across the FamShares community.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper" data-aos="zoom-in" data-aos-delay="400">
                        <img src="./assets/img/trade.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-treasury pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper pr" data-aos="zoom-in"><img src="./assets/img/treasury.svg" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content" data-aos="fade-left" data-aos-delay="400">
                        <h2 class="title mb-md">FamShares Treasury</h2>
                        <div class="txt-sm">The Treasury funds are utilized for token buybacks, burning, and rewarding the multi-level referral program.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-Competitive pr">
        <div class="container">
            <div class="box-table" data-aos="fade-in">
                <h2 class="title text-center">Competitive Advantages</h2>
                <div class="scroll txt-sm">
                    <table>
                        <thead>
                            <tr>
                                <th>Features</th>
                                <th>FamShares</th>
                                <th>Shares.Finance</th>
                                <th>Shares.Finance</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><p>Mobile App Availability</p></td>
                            <td><i class="icon-check"></i></td>
                            <td><i class="icon-check"></i></td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td><p>Shares Creation Fees</p></td>
                            <td>x</td>
                            <td>x</td>
                            <td><i class="icon-check"></i></td>
                        </tr>
                        <tr>
                            <td><p>Shares Trading Fee</p></td>
                            <td>5% Buy/Sell</td>
                            <td>10% Buy/Sell</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td><p>Minimum Tradeable Shares</p></td>
                            <td>0,01</td>
                            <td>1</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td><p>Automatic Buyback & Burn</p></td>
                            <td><i class="icon-check"></i></td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td>
                                <p>Multi-Social Media Integration (Twitter, Instagram, Tiktok, Youtube)</p>
                            </td>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td><p>Referral Program</p></td>
                            <td><i class="icon-check"></i></td>
                            <td><i class="icon-check"></i></td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td><p>Required Upfront Deposit</p></td>
                            <td>x</td>
                            <td><i class="icon-check"></i></td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td><p>Required Google/Apple Account</p></td>
                            <td>x</td>
                            <td><i class="icon-check"></i></td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td><p>Privacy Policy</p></td>
                            <td><i class="icon-check"></i></td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="famshare-partners">
        <div class="container">
            <h2 class="title">Our Partners</h2>
            <div class="partner-list flex-center">
                <a href="" title="" data-aos="fade-up"><img src="./assets/img/x.png" alt=""></a>
                <a href="" title="" data-aos="fade-up" data-aos-delay="200"><img src="./assets/img/insta.png" alt=""></a>
                <a href="" title=""data-aos="fade-up" data-aos-delay="400"><img src="./assets/img/onlyfans.png" alt=""></a>
                <a href="" title=""data-aos="fade-up" data-aos-delay="500"><img src="./assets/img/tiktok.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="famshare-join">
        <div class="container">
            <div class="header text-center">
                <h2 class="title mb-md">Join The FamShares Network Community</h2>
                <p class="txt-sm">FamShares garners trust and backing from a vibrant assembly of users and contributors. Become a part of our community today!</p>
            </div>
            <div class="img-wrapper pr">
                <img src="./assets/img/join-us.svg" alt="">
            </div>
        </div>
    </div>
</main>


















