:root{
  --blue: #039;
  --blue1: #06f;
}
body{
  background: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%; position: fixed; background: #fff; top: 0; left: 0; z-index: 9;
  &.scroll{
    box-shadow: 1px 0 4px #ccc;
    .navbar{padding: 6px 0;}
  }
  .social{
    position: absolute; left: 46%; transform: translateX(-50%);
  }
  .box-btn{margin-left: auto;}
  .navbar{padding: 12px 0; transition: .3s;}
  .navbar-toggle{display: none;}
  .logo{width: 214px;}
  .btn-pr{padding-left: 28px; padding-right: 28px; margin: 0 0px 0 60px;}
  .btn-sub{text-transform: uppercase;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 20px 0;
  border-radius: 0; border: none;
  transition: .3s;
}

.navbar-collapse{
  padding: 0; justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 auto; align-items: center;
  >*+*{margin-left: 35px;}
  > li{display: flex; flex-wrap: wrap; align-items: center; position: relative;}
  > li > a{display: block; font-size: 20px; font-weight: 700; color: #F5F5F5; line-height: 30px; position: relative;}
  .active,a:hover{color: #7C287D;}
}
.social{
  >*+*{margin-left: 80px;}
  a{display: block; width: 31px; height: 25px; font-size: 0;}
  a:hover{filter: saturate(1.4); -webkit-filter: saturate(1.5);}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .twitter{background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
}
main{padding-top: 79px; overflow: hidden;}
.famshare-intro{
  padding: 158px 0 284px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::after{
    width: 100%; height: 100%;
    background: var(--linear-bg, linear-gradient(180deg, rgba(214, 228, 238, 0.00) 0%, rgba(1, 99, 248, 0.25) 100%));
    top: 0; left: 0; opacity: .4;
  }
  &::before{
    content: "";
    width: 767px; height: 806px;
    background: url("#{$img-path}/decor-3.svg") no-repeat 0 0/contain;
    right: 0; top: 0;
  }
  h1{
    margin-bottom: 45px;
    font: 40px/55px 'Days One',sans-serif;
    color: var(--blue);
    span{display: block;}
  }
  .content{padding-top: 164px;}
  .img-wrapper{
    margin: 0 -116px 0 -20px;
    &::after{
      content: "";
      width: 915px; height: 889px;
      background: url("#{$img-path}/decor-11.svg") no-repeat 0 0/contain;
      position: absolute; top: -155px; left: -160px; z-index: -1;
    }
    .img-decor{position: absolute; top: 0; z-index: -1;}
  }
  .btn-pr{width: 242px;}
}
.famshare-note{
  margin-top: -84px;
  &::after{
    content: "";
    width: 769px; height: 1373px;
    background: url("#{$img-path}/decor-2.svg") no-repeat 0 0/contain;
    position: absolute; left: 0; top: -650px; z-index: -1;
  }
  .grid{grid-template-columns: repeat(2,1fr); grid-gap: 20px;}
  .item{
    padding: 73px 31px;
    border-radius: 15px;
    background: var(--fam-share-linear, linear-gradient(180deg, #06F 0%, #039 100%));
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  h4{margin-bottom: 20px; text-transform: uppercase; font-size: 18px; line-height: 25px;}
}
.famshare-about{
  padding-top: 182px;
  .content{
    padding-top: 50px;
    .txt-sm{max-width: 546px;}
    p{margin-bottom: 26px;}
  }
  .img{
    &--2{position: absolute; top: 32%; left: 27%; width: 50.7%;}
  }
  .img-wrapper::before{
    content: "";
    width: 1082px; height: 1082px;
    background: url("#{$img-path}/decor-4.svg") no-repeat 0 0/contain;
    position: absolute; top: -400px; left: -230px; z-index: -1;
  }
  .txt-link{
    margin-top: 230px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    a{
      padding: 48px 24px 40px;
      border-radius: 9px;
      background: var(--blue-g-no-trans, linear-gradient(360deg, rgba(#9ED6FF,.2) 0%, rgba(#06F,.2) 100%));
      box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
      font-weight: 700;
      color: var(--blue);
      text-transform: uppercase;
      position: relative;
    }
  }
}
.famshare-mechanism{
  padding: 204px 0 144px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::after{
    width: 100%; height: 100%;
    opacity: 0.3;
    background: linear-gradient(180deg, rgba(214, 228, 238, 0.00) 0%, rgba(1, 99, 248, 0.25) 100%);
    top: 0; left: 0;
  }
  .content{max-width: 546px; margin-left: auto;}
  .price{
    margin: 30px 0;
    color: var(--blue1);
    font-weight: 700;
    text-transform: uppercase;
    span{display: block;}
  }
  .chart{
    &::after,&::before{
      content: ""; position: absolute; z-index: -1;
    }
    &::before{
      width: 756px; height: 974px;
      background: url("#{$img-path}/decor-5.svg") no-repeat 0 0/contain; top: -370px; left: -310px;
    }
    &::after{
      width: 1082px; height: 1082px;
      background: url("#{$img-path}/decor-6.svg") no-repeat 0 0/contain;
      position: absolute; top: -300px; left: -300px;
    }
    &__content{
      width: 100%; height: 100%;
      display: grid; align-items: flex-end;
      grid-template-columns: repeat(6, minmax(40px,1fr));
      grid-gap: 35px;
      padding: 53px 180px 33px 50px;
      position: absolute; top: 0; left: 0;
      .col{width: 40px; height: 0; padding: 0; opacity: 0.6; transition: 1.5s; background: linear-gradient(360deg, rgba(214, 228, 238, 0.30) 0%, #06F 76.10%);}
      
    }
  }
  .active{
    .col--1{height: 47px;}
    .col--2{height: 103px;}
    .col--3{height: 160px;}
    .col--4{height: 207px;}
    .col--5{height: 242px;}
    .col--6{height: 287px;}
  }
}
.famshare-trade{
  padding: 128px 0 110px;
  &::after,&::before{content: "";position: absolute; z-index: -1;}
  &::after{
    width: 907px; height: 1373px;
    background: url("#{$img-path}/decor-7.svg") no-repeat 0 0/contain;
    right: 0; top: 0px;
  }
  &::before{
    width: 716px; height: 974px;
    background: url("#{$img-path}/decor-8.svg") no-repeat 0 0/contain; top: -40px; right: -300px;
  }
  .content{max-width: 545px; padding-top: 35px;}
}
.famshare-treasury{
  padding: 110px 0 0;
  .content{max-width: 492px;}
  .img-wrapper::after{
    content: "";
    width: 930px; height: 930px;
    background: url("#{$img-path}/decor-9.svg") no-repeat 0 0/contain;
    position: absolute; top: -240px; left: -200px; z-index: -1;
  }
}
.famshare-Competitive{
  padding: 182px 0 195px;
  &::after{
    content: "";
    width: 100%; height: 100%;
    opacity: 0.6;
    background: linear-gradient(180deg, rgba(214, 228, 238, 0.00) 0%, rgba(1, 99, 248, 0.25) 100%);
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  .title{margin-bottom: 70px;}
  .box-table{
    padding: 80px;
    border-radius: 25px;
    background: rgba(#fff,.6);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .scroll{width: 100%; overflow: auto;}
  table{
    width: 100%;
    th{padding: 0 8px 15px; color: var(--blue); font-weight: 700; text-transform: uppercase; text-align: center;}
    th:first-child{text-align: left; padding-left: 0;}
    tr td:first-child{color: var(--blue1); text-align: left; padding-left: 0;}
    td{padding: 12px 5px; text-align: center;}
    p{max-width: 384px;}
    .icon-check{
      width: 14px; height: 11px; display: block;
      background: url("#{$img-path}/check.svg") no-repeat 0 0/contain;
      margin: 0 auto;
    }
  }
}
.famshare-partners{
  padding: 155px 0 215px;
  background: linear-gradient(180deg, #06F 0%, #039 100%);
  .title{margin-bottom: 55px;; color: #fff; text-align: center;}
  .partner-list{
    >*+*{margin-left: 50px;}
  }
}
.famshare-join{
  margin-top: 10px;
  padding: 115px 0 102px;
  background: #001B48;
  .header{
    margin-bottom: 86px;
    .title{color: var(--blue1);}
    p{max-width: 834px; margin: 0 auto; color: #D6E4EE;}
  }
  .img-wrapper{
    max-width: 521px; margin: 0 auto;
    img{position: relative; z-index: 2; animation: flash 1s infinite linear;}
    &::after{
      content: "";
      width: 864px; height: 747px;
      background: url(#{$img-path}/decor-10.svg) no-repeat 0 0/contain;
      position: absolute; top: -290px; left: -40px;
    }
  }
}


footer{
  background: #001B48; padding: 55px 0;
  .social{
    position: absolute; left: 50%; transform: translateX(-50%);
    >*+*{margin-left: 40px;}
    .telegram{background: url("#{$img-path}/telegram-1.svg") no-repeat 0 0/contain;}
  .twitter{background: url("#{$img-path}/twitter-1.svg") no-repeat 0 0/contain;}
  }
  .btn-sub{margin-left: auto; color: #97B2DB; text-transform: uppercase;}
}


.select2-container{
  background: transparent;
  border-radius: 9px;
  font-family: 'Hind', sans-serif;
  &:focus{outline: none;}
}
.select2{border: 1px solid var(--p1);}

.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 18px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #F5F5F5;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 9px;}
.select2-container .select2-selection--single{height: 40px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 38px; width: 22px;}
.select2-search--dropdown{
  padding: 3px 18px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border: none;
  background: #261122;
  color: #F5F5F5;
  font-size: 16px;
  line-height: 1;
  &:focus{outline: none;}
  &::placeholder{color: rgba(#F5F5F5,.2); font-size: 16px;}
}
.select2-container--open{
  .select2-dropdown--below{
    margin-top: 8px;
    background: #261122;
    border: none;
  }
}

.select2-dropdown{
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 14px; height: 20px;
  background: url("#{$img-path}/arrow.svg") no-repeat 0 0/contain;
  top: 54%; transform: translate(-50%,-50%); left: 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; border-radius: 0;
  overflow: auto;
  font-family: Hind, sans-serif;
  font-size: 16px;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 8px 18px;
  background: #261122;
  font-size: 16px;
  line-height: 23px;
  color: #F5F5F5;
  font-weight: 400;
  position: relative;
}
.select2-container--default .select2-results__option[aria-selected=true]{background: #261122;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background:#E191EE;
  color: #261122;
  &::after{
    content: "";
    width: 14px; height: 10px;
    position: absolute; top: 50%; transform: translateY(-50%); right: 14px;
  }
}
.select2-container--open .select2-dropdown--above{border: none; margin-top: -8px;}


//uikit
.container{max-width: 1304px;}
.pr{position: relative;}
.title{font: 40px/55px 'Days One', sans-serif; color: var(--blue);}
button{
  border: none; cursor: pointer; transition: .25s;
  &:focus{outline: none;}
}
.grid{display: grid;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.btn-pr{
  display: inline-block;
  height: 40px;
  background: var(--blue1);
  border-radius: 9px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  &:hover{background: var(--blue); color: #fff;}
}
.btn-sub{
  font-weight: 700;
  color: var(--blue);
  font-size: 18px;
  line-height: 25px;
}
.box-video video{width: 100%; height: 100%; object-fit: cover;}
.txt-sm{font-size: 18px; line-height: 24px;}
.txt-md{font-size: 24px;}
.mb-md{margin-bottom: 30px;}


@media (max-width: 1440px) {
  .famshare-intro{
    padding: 120px 0 220px;
    .img-wrapper{margin: -40px 0 0;}
    .content{padding-top: 75px;}
  }
  .famshare-about{
    padding-top: 140px;
    .txt-link{margin-top: 160px;}
  }
  .famshare-Competitive{
    padding: 140px 0;
  }
  .famshare-partners{
    padding: 115px 0 155px;
  }
  .famshare-mechanism{padding: 140px 0;}
}

@media (max-width: 1024px) {
  header{
    .logo{width: 240px;}
    .social{
      margin-bottom: 40px;
      position: relative; left: 0; transform: translateX(0);
      >*+*{margin-left: 40px;}
    }
    .box-btn{
      display: block; margin-left: inherit; text-align: center;
      .btn-pr{margin: 40px 0 0; display: block;}
    }
    .btn-buy{padding: 4px 18px; font-size: 18px;}
    .navbar-toggle{display: block; position: absolute; right: 0;}
  }
  .navbar{
    width: 100%; padding: 20px 0; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: calc(100% - 0px);
    padding: 0 0 15px;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 26px;
    height: 16px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 26px; height: 2px; border-radius: 2px;
      background: #039; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #039; position: absolute; left: 6px; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 26px; transform: rotate(45deg);}
    span:after{width: 26px;}
    span:before{width: 26px; top: 0;  transform: rotate(90deg); left: 0;}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 25px 25px;
    >*+*{margin: 30px 0 0;}
    > li > a{line-height: inherit;}
    > li > .sub-menu{order: 3;}
    > li .show-menu{order: 2;}
    > li:hover .sub-menu{display: block;}
    .active::after{display: none;}

    .sub-menu{
      width: 100%; padding: 20px 15px; position: relative; top: 0;  display: none;
      &.lg{
        top: 0; display: none;
        >*+*{margin-top: 30px;}
      }
    }
  }

  .famshare-intro{
    padding: 100px 0 200px;
    h1{margin-bottom: 35px; font-size: 29px; line-height: inherit;}
    .img-wrapper{margin-top: 0;}
    .img-wrapper::after{width: 715px; height: 660px; top: -125px; left: -160px;}
    .btn-pr{width: 180px;}
  }
  .famshare-note{
    .item{padding: 50px 15px;}
  }
  .famshare-about{
    padding-top: 120px;
    .txt-link{
      margin-top: 130px;
      a{padding: 30px 15px;}
    }
    .img{
      &--2{width: 54.7%; left: 30%;}
    }
  }
  .famshare-mechanism{
    padding: 140px 0 100px;
    .active{
      .col--1{height: 15%;}
      .col--2{height: 30%;}
      .col--3{height: 50%;}
      .col--4{height: 60%;}
      .col--5{height: 70%;}
      .col--6{height: 80%;}
    }
    .row{align-items: center;}
    .chart{
      &__content{
        padding: 0 15% 7% 5%; grid-gap: 5%;
      }
    }
  }
  .famshare-treasury{
    padding: 100px 0 0;
  }
  .famshare-Competitive{
    .box-table{padding: 45px;}
  }
  .famshare-partners{padding: 95px 0 115px;}
  .famshare-trade{padding: 100px 0;}

  .title{font-size: 30px; line-height: 1.4;}
  .txt-sm{font-size: 16px;}
  .mb-md{margin-bottom: 20px;}
}

@media (max-width: 820px) {
  .famshare-intro{
    .content{padding-top: 12%;}
    h1{margin-bottom: 25px; font-size: 23px;}
    .img-wrapper{margin-top: 0;}
  }
  .famshare-about{
    .content{padding-top: 0;}
    .txt-link{margin-top: 100px;}
  }
  .famshare-mechanism{
    padding-top: 100px;
  }
  .famshare-trade{
    padding: 70px 0;
    .content{padding-top: 0;}
  }
  .famshare-treasury{
    padding: 70px 0;
    .img-wrapper::after{width: 630px; height: 630px; top: -140px; left: -140px;}
  }
  .famshare-partners{
    .partner-list{
      >*+*{margin-left: 5%;}
      a{width: 20%;}
      img{display: block; margin: 0 auto;}
    }
  }
  .famshare-join{padding: 70px 0;}

  .title{font-size: 26px;}
  .btn-pr{font-size: 16px;}
}

@media (max-width: 767px) {
  .famshare-intro{
    padding: 60px 0 160px;
    &::before{display: none;}
    h1{font-size: 22px;}
    .img-wrapper{margin: 70px 0 0;}
    .content{padding-top: 0;}
    .img-wrapper::after{width: 525px; height: 580px; left: -120px; top: -125px;}
  }
  .famshare-note{
    .grid{grid-template-columns: repeat(1,1fr);}
  }
  .famshare-about{
    padding-top: 70px;
    .content{margin-bottom: 40px;}
    .txt-link{margin-top: 80px; grid-template-columns: repeat(2,1fr);}
  }
  .famshare-mechanism{
    padding: 80px 0;
    .chart{
      &__content{
        grid-gap: 3%;
        .col{width: 35px;}
      }
    }
    .content{margin-top: 40px;}
  }
  .famshare-trade{
    .img-wrapper{margin: 40px auto 0; width: 86%;}
  }
  .famshare-treasury{
    padding: 0;
    .row{flex-direction: column-reverse;}
    .img-wrapper{margin: 40px auto 0; width: 86%;}
  }
  .famshare-Competitive{
    padding: 90px 0;
    .box-table{padding: 45px 15px;}
    table{min-width: 600px;}
  }
  .famshare-join{
    .img-wrapper::after{width: 684px; height: 647px; top: -280px; left: -110px;}
  }
  .famshare-partners{
    padding: 70px 0;
    .partner-list{
      a:first-child img{width: 50%;}
      a{width: 45%; padding: 15px;}
    }
  }
  footer{
    padding: 35px 0;
    .logo{
      width: 100%; margin-bottom: 40px;
      img{display: block; margin: 0 auto;}
    }
    .social{
      position: relative; left: 0; transform: translateX(0);
    }
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}